# This configuration is intended for development purpose, it's **your** responsibility to harden it for production
name: finalprogramacion
services:
  redis:
    image: redis:8.0.0
    ports:
      - 6379:6379
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
volumes:
  redis-data:
